.show_title{
	text-align: center;
  background: lightseagreen;
  color: white;
  padding: 15px;
}

.show_admission_price{
	border: 2px solid cornflowerblue;
  padding: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  color: cornflowerblue;
}

.show_image{
  width: 25em;
  box-shadow: 5px 5px 5px black;
}

.show_description{
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.star{
	width: 1.5em;
}

.single_review{
	margin-top: 10px;
	margin-bottom: 10px;
}